google-genai
python-dotenv

livekit
livekit-agents
livekit-api
livekit-protocol
livekit-plugins-google
livekit-plugins-noise-cancellation
livekit-plugins-openai
livekit-plugins-groq
livekit-plugins-silero
livekit-plugins-turn-detector

requests
aiohttp
beautifulsoup4
duckduckgo-search
langchain
langchain-community
wikipedia

pyautogui
PyGetWindow
pyperclip
pywin32
keyboard
psutil
screen-brightness-control
pycaw
comtypes

opencv-python
pillow
pytesseract
mss
numpy

PyPDF2
feedparser
openpyxl
pandas
python-docx
docx2pdf

plotly
scikit-learn
torch
torchvision
tqdm
rich
pydantic
uvicorn
websockets